.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: white;
  background: rgb(48, 147, 165);
}

.form {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.table{
    border-bottom: double;
}
 
